<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render "posts/userinfo", post: @post %>
      </div>
      
      <div class="col-md-8 offset-md-1">
        <h1>投稿一覧</h1>
          <table class="table">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>本文</th>
              </tr>
            </thead>
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post.title, post_path(post) %>
              </td>
              <td>
                <%= post.body %>
              </td>
            </tr>
            <% end %>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</main>