<main>
  <container>
    <div class="row">
      <div class="col-md-3">
        <%= render "posts/userinfo", post: @new_post %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h1>投稿詳細</h1>
          <table class="table">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>本文</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= @post.title %>
                </td>
                <td>
                  <%= @post.body %>
                </td>
                <td>
                  <% if @user == current_user %>
                    <%= link_to "削除", post_path(@post.id), method: :delete, 'data-confirm' => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </container>
</main>

